-- MySQL dump 10.13  Distrib 8.0.32, for Win64 (x86_64)
--
-- Host: localhost    Database: aswangreen
-- ------------------------------------------------------
-- Server version	8.0.32

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
INSERT INTO `auth_group` VALUES (5,'adminLvl1'),(1,'dataEntryAdmin'),(4,'fullAdmin'),(3,'ServiceManagerAdmin'),(2,'tahsealAdmin');
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=209 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
INSERT INTO `auth_user_groups` VALUES (4,2,1),(1,3,1),(3,4,5),(2,5,4),(5,7,2);
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
INSERT INTO `auth_user_user_permissions` VALUES (1,7,81),(2,7,82),(3,7,83),(4,7,84);
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_area`
--

DROP TABLE IF EXISTS `dataentry_area`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_area` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `counter` int DEFAULT NULL,
  `is_test` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_area`
--

LOCK TABLES `dataentry_area` WRITE;
/*!40000 ALTER TABLE `dataentry_area` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_area` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_client`
--

DROP TABLE IF EXISTS `dataentry_client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_client` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `serialNum` int DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `phone` varchar(11) DEFAULT NULL,
  `password` varchar(150) DEFAULT NULL,
  `nationalId` varchar(14) DEFAULT NULL,
  `streetName` varchar(150) DEFAULT NULL,
  `addressBuilding` varchar(150) DEFAULT NULL,
  `addressApartment` varchar(150) DEFAULT NULL,
  `addressDetails` longtext,
  `created_prev_date` date DEFAULT NULL,
  `activation_request` tinyint(1) NOT NULL,
  `outsource` tinyint(1) NOT NULL,
  `is_employee` tinyint(1) NOT NULL,
  `missing_info` tinyint(1) NOT NULL,
  `activation_request_accepted` tinyint(1) NOT NULL,
  `is_test` tinyint(1) NOT NULL,
  `contactMe` varchar(50) DEFAULT NULL,
  `image` varchar(100) NOT NULL,
  `notes` longtext,
  `deserved` int NOT NULL,
  `area_id` bigint DEFAULT NULL,
  `belongs_to_id` bigint DEFAULT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `modified_by_id` bigint DEFAULT NULL,
  `contractDate` date DEFAULT NULL,
  `customFilter` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `serialNum` (`serialNum`),
  KEY `DataEntry_client_belongs_to_id_6940f772_fk_DataEntry_employee_id` (`belongs_to_id`),
  KEY `DataEntry_client_created_by_id_7e64d3d4_fk_DataEntry_employee_id` (`created_by_id`),
  KEY `DataEntry_client_modified_by_id_12bb92c5_fk_DataEntry` (`modified_by_id`),
  KEY `DataEntry_client_area_id_10b253a0_fk_DataEntry_area_id` (`area_id`),
  KEY `DataEntry_client_name_342e1f57` (`name`),
  KEY `DataEntry_client_phone_b914f2f5` (`phone`),
  KEY `DataEntry_client_password_d1c465d4` (`password`),
  KEY `DataEntry_client_nationalId_760ee648` (`nationalId`),
  CONSTRAINT `DataEntry_client_area_id_10b253a0_fk_DataEntry_area_id` FOREIGN KEY (`area_id`) REFERENCES `dataentry_area` (`id`),
  CONSTRAINT `DataEntry_client_belongs_to_id_6940f772_fk_DataEntry_employee_id` FOREIGN KEY (`belongs_to_id`) REFERENCES `dataentry_employee` (`id`),
  CONSTRAINT `DataEntry_client_created_by_id_7e64d3d4_fk_DataEntry_employee_id` FOREIGN KEY (`created_by_id`) REFERENCES `dataentry_employee` (`id`),
  CONSTRAINT `DataEntry_client_modified_by_id_12bb92c5_fk_DataEntry` FOREIGN KEY (`modified_by_id`) REFERENCES `dataentry_employee` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_client`
--

LOCK TABLES `dataentry_client` WRITE;
/*!40000 ALTER TABLE `dataentry_client` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_collectorder`
--

DROP TABLE IF EXISTS `dataentry_collectorder`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_collectorder` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `month` int DEFAULT NULL,
  `confirmed` tinyint(1) NOT NULL,
  `reason` varchar(100) DEFAULT NULL,
  `required` int NOT NULL,
  `created_prev_date` date DEFAULT NULL,
  `is_test` tinyint(1) NOT NULL,
  `collector_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `DataEntry_collectord_collector_id_7f6227b6_fk_DataEntry` (`collector_id`),
  CONSTRAINT `DataEntry_collectord_collector_id_7f6227b6_fk_DataEntry` FOREIGN KEY (`collector_id`) REFERENCES `dataentry_employee` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_collectorder`
--

LOCK TABLES `dataentry_collectorder` WRITE;
/*!40000 ALTER TABLE `dataentry_collectorder` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_collectorder` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_collectorder_areas`
--

DROP TABLE IF EXISTS `dataentry_collectorder_areas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_collectorder_areas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `collectorder_id` bigint NOT NULL,
  `area_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `DataEntry_collectorder_a_collectorder_id_area_id_b59e3f68_uniq` (`collectorder_id`,`area_id`),
  KEY `DataEntry_collectord_area_id_1e7f4edd_fk_DataEntry` (`area_id`),
  CONSTRAINT `DataEntry_collectord_area_id_1e7f4edd_fk_DataEntry` FOREIGN KEY (`area_id`) REFERENCES `dataentry_area` (`id`),
  CONSTRAINT `DataEntry_collectord_collectorder_id_be9b6d26_fk_DataEntry` FOREIGN KEY (`collectorder_id`) REFERENCES `dataentry_collectorder` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_collectorder_areas`
--

LOCK TABLES `dataentry_collectorder_areas` WRITE;
/*!40000 ALTER TABLE `dataentry_collectorder_areas` DISABLE KEYS */;
INSERT INTO `dataentry_collectorder_areas` VALUES (1,1,1),(2,2,1),(3,3,1),(4,4,1),(5,6,1),(6,7,1),(7,8,1),(8,9,1),(9,10,1),(10,11,1),(11,12,1),(12,13,1),(13,14,1),(14,15,1),(15,16,1);
/*!40000 ALTER TABLE `dataentry_collectorder_areas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_collectorder_clients`
--

DROP TABLE IF EXISTS `dataentry_collectorder_clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_collectorder_clients` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `collectorder_id` bigint NOT NULL,
  `client_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `DataEntry_collectorder_c_collectorder_id_client_i_641fb557_uniq` (`collectorder_id`,`client_id`),
  KEY `DataEntry_collectord_client_id_d9b339a5_fk_DataEntry` (`client_id`),
  CONSTRAINT `DataEntry_collectord_client_id_d9b339a5_fk_DataEntry` FOREIGN KEY (`client_id`) REFERENCES `dataentry_client` (`id`),
  CONSTRAINT `DataEntry_collectord_collectorder_id_ca713a78_fk_DataEntry` FOREIGN KEY (`collectorder_id`) REFERENCES `dataentry_collectorder` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_collectorder_clients`
--

LOCK TABLES `dataentry_collectorder_clients` WRITE;
/*!40000 ALTER TABLE `dataentry_collectorder_clients` DISABLE KEYS */;
INSERT INTO `dataentry_collectorder_clients` VALUES (1,1,9),(2,1,10),(3,1,11),(4,1,12),(5,1,13),(6,1,14),(7,1,15),(8,2,9),(9,2,10),(10,2,11),(11,2,12),(12,2,13),(13,2,14),(14,2,15),(15,3,9),(16,3,10),(17,3,11),(18,3,12),(19,3,13),(20,3,14),(21,3,15),(22,4,10),(23,6,10),(24,6,11),(25,6,12),(26,7,9),(27,7,10),(28,8,9),(29,8,10),(30,9,9),(31,9,10),(32,10,9),(33,10,10),(34,11,9),(35,11,10),(36,12,9),(37,12,10),(38,13,9),(39,13,10),(40,14,9),(41,14,10),(42,14,15),(43,15,9),(44,16,10),(45,16,11),(46,16,12),(47,16,13),(48,16,14),(49,16,15),(50,16,17);
/*!40000 ALTER TABLE `dataentry_collectorder_clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_contactrequest`
--

DROP TABLE IF EXISTS `dataentry_contactrequest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_contactrequest` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `is_test` tinyint(1) NOT NULL,
  `client_id` bigint DEFAULT NULL,
  `contactRequest_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `DataEntry_contactreq_client_id_d8e27ac4_fk_DataEntry` (`client_id`),
  KEY `DataEntry_contactreq_contactRequest_id_46d6024a_fk_DataEntry` (`contactRequest_id`),
  CONSTRAINT `DataEntry_contactreq_client_id_d8e27ac4_fk_DataEntry` FOREIGN KEY (`client_id`) REFERENCES `dataentry_client` (`id`),
  CONSTRAINT `DataEntry_contactreq_contactRequest_id_46d6024a_fk_DataEntry` FOREIGN KEY (`contactRequest_id`) REFERENCES `dataentry_contactrequest` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_contactrequest`
--

LOCK TABLES `dataentry_contactrequest` WRITE;
/*!40000 ALTER TABLE `dataentry_contactrequest` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_contactrequest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_contactrequesttypes`
--

DROP TABLE IF EXISTS `dataentry_contactrequesttypes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_contactrequesttypes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `eNum` int DEFAULT NULL,
  `is_test` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_contactrequesttypes`
--

LOCK TABLES `dataentry_contactrequesttypes` WRITE;
/*!40000 ALTER TABLE `dataentry_contactrequesttypes` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_contactrequesttypes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_contract`
--

DROP TABLE IF EXISTS `dataentry_contract`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_contract` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `serialNum` int DEFAULT NULL,
  `created_prev_date` date DEFAULT NULL,
  `notes` longtext,
  `is_test` tinyint(1) NOT NULL,
  `belong_to_id` bigint DEFAULT NULL,
  `client_id` bigint DEFAULT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `modified_by_id` bigint DEFAULT NULL,
  `lastPay` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `serialNum` (`serialNum`),
  UNIQUE KEY `client_id` (`client_id`),
  KEY `DataEntry_contract_belong_to_id_874b1068_fk_DataEntry` (`belong_to_id`),
  KEY `DataEntry_contract_created_by_id_4051be4f_fk_DataEntry` (`created_by_id`),
  KEY `DataEntry_contract_modified_by_id_9f38184a_fk_DataEntry` (`modified_by_id`),
  CONSTRAINT `DataEntry_contract_belong_to_id_874b1068_fk_DataEntry` FOREIGN KEY (`belong_to_id`) REFERENCES `dataentry_employee` (`id`),
  CONSTRAINT `DataEntry_contract_client_id_a0a61c0b_fk_DataEntry_client_id` FOREIGN KEY (`client_id`) REFERENCES `dataentry_client` (`id`),
  CONSTRAINT `DataEntry_contract_created_by_id_4051be4f_fk_DataEntry` FOREIGN KEY (`created_by_id`) REFERENCES `dataentry_employee` (`id`),
  CONSTRAINT `DataEntry_contract_modified_by_id_9f38184a_fk_DataEntry` FOREIGN KEY (`modified_by_id`) REFERENCES `dataentry_employee` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_contract`
--

LOCK TABLES `dataentry_contract` WRITE;
/*!40000 ALTER TABLE `dataentry_contract` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_contract` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_contract_services`
--

DROP TABLE IF EXISTS `dataentry_contract_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_contract_services` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `contract_id` bigint NOT NULL,
  `service_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `DataEntry_contract_services_contract_id_service_id_27c5a325_uniq` (`contract_id`,`service_id`),
  KEY `DataEntry_contract_s_service_id_502d2dde_fk_DataEntry` (`service_id`),
  CONSTRAINT `DataEntry_contract_s_contract_id_b938a3d9_fk_DataEntry` FOREIGN KEY (`contract_id`) REFERENCES `dataentry_contract` (`id`),
  CONSTRAINT `DataEntry_contract_s_service_id_502d2dde_fk_DataEntry` FOREIGN KEY (`service_id`) REFERENCES `dataentry_service` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_contract_services`
--

LOCK TABLES `dataentry_contract_services` WRITE;
/*!40000 ALTER TABLE `dataentry_contract_services` DISABLE KEYS */;
INSERT INTO `dataentry_contract_services` VALUES (6,6,18),(8,8,21),(19,9,28),(22,9,29),(11,10,24),(12,11,24),(13,12,24),(14,13,24),(15,14,24),(16,15,24),(17,16,24),(18,16,25),(23,17,31);
/*!40000 ALTER TABLE `dataentry_contract_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_departement`
--

DROP TABLE IF EXISTS `dataentry_departement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_departement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `name` varchar(50) NOT NULL,
  `notes` longtext,
  `is_test` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_departement`
--

LOCK TABLES `dataentry_departement` WRITE;
/*!40000 ALTER TABLE `dataentry_departement` DISABLE KEYS */;
INSERT INTO `dataentry_departement` VALUES (1,0,'2023-03-12 22:31:56.000000','2023-03-13','2023-04-07 19:56:08.385820','2023-04-07','╪º╪»╪«╪º┘ä ╪º┘ä╪¿┘è╪º┘å╪º╪¬ ┘ê╪º┘ä╪¬╪¡╪╡┘è┘ä','╪º╪»╪«╪º┘ä ╪º┘ä╪¿┘è╪º┘å╪º╪¬ ┘ê╪º┘ä╪¬╪¡╪╡┘è┘ä',1),(2,0,'2023-03-12 22:41:22.000000','2023-03-13','2023-04-07 19:56:08.382893','2023-04-07','╪«╪»┘à╪⌐ ╪º┘ä╪╣┘à┘ä╪º╪í',NULL,1);
/*!40000 ALTER TABLE `dataentry_departement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_employee`
--

DROP TABLE IF EXISTS `dataentry_employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_employee` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `job2` varchar(50) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  `password` varchar(50) DEFAULT NULL,
  `address` varchar(50) DEFAULT NULL,
  `phone` varchar(11) DEFAULT NULL,
  `jobTitle` varchar(50) DEFAULT NULL,
  `dateOfEmployment` date DEFAULT NULL,
  `created_prev_date` date DEFAULT NULL,
  `dateOfBirth` date DEFAULT NULL,
  `naId` varchar(14) DEFAULT NULL,
  `typee` varchar(50) DEFAULT NULL,
  `salaryType` varchar(50) DEFAULT NULL,
  `salary` int DEFAULT NULL,
  `eNum` int DEFAULT NULL,
  `notes` longtext,
  `is_test` tinyint(1) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `departement_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `eNum` (`eNum`),
  KEY `DataEntry_employee_departement_id_2f5e3ce8_fk_DataEntry` (`departement_id`),
  CONSTRAINT `DataEntry_employee_departement_id_2f5e3ce8_fk_DataEntry` FOREIGN KEY (`departement_id`) REFERENCES `dataentry_departement` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_employee`
--

LOCK TABLES `dataentry_employee` WRITE;
/*!40000 ALTER TABLE `dataentry_employee` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_followcontractservices`
--

DROP TABLE IF EXISTS `dataentry_followcontractservices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_followcontractservices` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `area` varchar(50) DEFAULT NULL,
  `startingDate` date DEFAULT NULL,
  `serviceDueDate` date DEFAULT NULL,
  `serviceCollectDayStart` int DEFAULT NULL,
  `serviceCollectDayEnd` int DEFAULT NULL,
  `serviceDueStatus` varchar(50) DEFAULT NULL,
  `collcetStatusNums` varchar(50) DEFAULT NULL,
  `total_amount` int DEFAULT NULL,
  `collected_amount` int DEFAULT NULL,
  `collected_month` int DEFAULT NULL,
  `collected_date` date DEFAULT NULL,
  `remain_amount` int DEFAULT NULL,
  `created_prev_date` date DEFAULT NULL,
  `is_test` tinyint(1) NOT NULL,
  `client_id` bigint DEFAULT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `modified_by_id` bigint DEFAULT NULL,
  `service_id` bigint DEFAULT NULL,
  `notes` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `DataEntry_followcont_client_id_91371deb_fk_DataEntry` (`client_id`),
  KEY `DataEntry_followcont_created_by_id_a076735f_fk_DataEntry` (`created_by_id`),
  KEY `DataEntry_followcont_modified_by_id_c4257b71_fk_DataEntry` (`modified_by_id`),
  KEY `DataEntry_followcont_service_id_6cb82b99_fk_DataEntry` (`service_id`),
  KEY `DataEntry_followcontractservices_collcetStatusNums_9b310456` (`collcetStatusNums`),
  CONSTRAINT `DataEntry_followcont_client_id_91371deb_fk_DataEntry` FOREIGN KEY (`client_id`) REFERENCES `dataentry_client` (`id`),
  CONSTRAINT `DataEntry_followcont_created_by_id_a076735f_fk_DataEntry` FOREIGN KEY (`created_by_id`) REFERENCES `dataentry_employee` (`id`),
  CONSTRAINT `DataEntry_followcont_modified_by_id_c4257b71_fk_DataEntry` FOREIGN KEY (`modified_by_id`) REFERENCES `dataentry_employee` (`id`),
  CONSTRAINT `DataEntry_followcont_service_id_6cb82b99_fk_DataEntry` FOREIGN KEY (`service_id`) REFERENCES `dataentry_service` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_followcontractservices`
--

LOCK TABLES `dataentry_followcontractservices` WRITE;
/*!40000 ALTER TABLE `dataentry_followcontractservices` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_followcontractservices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_offers`
--

DROP TABLE IF EXISTS `dataentry_offers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_offers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `image` varchar(100) NOT NULL,
  `is_test` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_offers`
--

LOCK TABLES `dataentry_offers` WRITE;
/*!40000 ALTER TABLE `dataentry_offers` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_offers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_requestsimpleservice`
--

DROP TABLE IF EXISTS `dataentry_requestsimpleservice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_requestsimpleservice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `is_test` tinyint(1) NOT NULL,
  `client_id` bigint DEFAULT NULL,
  `service_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `DataEntry_requestsim_client_id_3cd9d317_fk_DataEntry` (`client_id`),
  KEY `DataEntry_requestsim_service_id_9d0eb9d4_fk_DataEntry` (`service_id`),
  CONSTRAINT `DataEntry_requestsim_client_id_3cd9d317_fk_DataEntry` FOREIGN KEY (`client_id`) REFERENCES `dataentry_client` (`id`),
  CONSTRAINT `DataEntry_requestsim_service_id_9d0eb9d4_fk_DataEntry` FOREIGN KEY (`service_id`) REFERENCES `dataentry_simpleservice` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_requestsimpleservice`
--

LOCK TABLES `dataentry_requestsimpleservice` WRITE;
/*!40000 ALTER TABLE `dataentry_requestsimpleservice` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_requestsimpleservice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_service`
--

DROP TABLE IF EXISTS `dataentry_service`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_service` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `is_main` tinyint(1) NOT NULL,
  `price` int NOT NULL,
  `billSerial` int DEFAULT NULL,
  `billed_at` date DEFAULT NULL,
  `fixedDeliveryDate` int DEFAULT NULL,
  `fixedPriceCollectDate` int DEFAULT NULL,
  `fixedPriceCollectDate_more` date DEFAULT NULL,
  `notes` longtext,
  `is_test` tinyint(1) NOT NULL,
  `priceType` longtext,
  `supervisor_id` bigint DEFAULT NULL,
  `typee` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `billSerial` (`billSerial`),
  KEY `DataEntry_service_supervisor_id_c3abb2eb_fk_DataEntry` (`supervisor_id`),
  CONSTRAINT `DataEntry_service_supervisor_id_c3abb2eb_fk_DataEntry` FOREIGN KEY (`supervisor_id`) REFERENCES `dataentry_employee` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_service`
--

LOCK TABLES `dataentry_service` WRITE;
/*!40000 ALTER TABLE `dataentry_service` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_service` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_simpleservice`
--

DROP TABLE IF EXISTS `dataentry_simpleservice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_simpleservice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `eNum` int DEFAULT NULL,
  `is_test` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_simpleservice`
--

LOCK TABLES `dataentry_simpleservice` WRITE;
/*!40000 ALTER TABLE `dataentry_simpleservice` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_simpleservice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_subservice`
--

DROP TABLE IF EXISTS `dataentry_subservice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_subservice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `is_deleted` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_at_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_at_date` date DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `price` int DEFAULT NULL,
  `baseService_id` bigint DEFAULT NULL,
  `typee_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `DataEntry_subservice_baseService_id_2d39e50a_fk_DataEntry` (`baseService_id`),
  KEY `DataEntry_subservice_typee_id_7cc15568_fk_DataEntry_typee_id` (`typee_id`),
  CONSTRAINT `DataEntry_subservice_baseService_id_2d39e50a_fk_DataEntry` FOREIGN KEY (`baseService_id`) REFERENCES `dataentry_service` (`id`),
  CONSTRAINT `DataEntry_subservice_typee_id_7cc15568_fk_DataEntry_typee_id` FOREIGN KEY (`typee_id`) REFERENCES `dataentry_typee` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_subservice`
--

LOCK TABLES `dataentry_subservice` WRITE;
/*!40000 ALTER TABLE `dataentry_subservice` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_subservice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dataentry_typee`
--

DROP TABLE IF EXISTS `dataentry_typee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dataentry_typee` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dataentry_typee`
--

LOCK TABLES `dataentry_typee` WRITE;
/*!40000 ALTER TABLE `dataentry_typee` DISABLE KEYS */;
/*!40000 ALTER TABLE `dataentry_typee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=302 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-04-18  2:01:41
