{% extends "cs/index.html" %}
{% block title %}
    <title>تأكيد حذف طلب </title>
{% endblock %}

{% block style %}

{% endblock %}


{% block content %}
<h1>حذف طلب الخدمة</h1>
<p>هل انت متأكد من حذف طلب الخدمة -  للعميل  {{order.client.name}} / الطلب رقم {{order.id}} / الخاص بخدمة {{order.service.name}} ؟</p>

<form method="post">
{% csrf_token %}
<button type="submit" class="btn btn-danger">تأكيد الحذف</button>
<a href="{% url 'cs:order_list' %}" class="btn btn-info">الغاء</a>
</form>
{% endblock %}

{% block script %}

{% endblock %}