{% extends "cs/index.html" %}
{% block title %}
    <title>قائمة العملاء</title>
{% endblock %}

{% block style %}

{% endblock %}


{% block content %}
<div class="container-fluid">.
    <div class="row">
        <div class="col-12 m-auto">
            <h1>قائمة الطلبات</h1>
            <table class="table text-center table-striped w-100 table-hover table-bordered text-center" id="tblData" style="display:block; text-align:center;direction:rtl;height: 62vh;overflow-y: auto;">
                <thead>
                    <th>رقم العميل</th>
                    <th>الاسم</th>
                    <th>نوع الطلب</th>
                    <th>التفاصيل</th>
                </thead>
                <tbody>
                    {% for request in requests %}
                        <tr>
                            <td><a class="btn btn-primary text-white"
                                href="{% url 'cs:request_update' request.pk %}">{{ request.client.id }}</a></td>
                            <td>{{ request.client.name }}</td>
                            <td>{{ request.body }}</td>
                        </tr>
                    {% empty %}
                        <li>No client found.</li>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="{% url 'cs:request_create' %}">اضافة طلب</a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}