{% extends "DataEntry/index.html" %}
{% block title %}
<title>الصفحة الرئيسية</title>
{% endblock %}
{% block style %}
    /* Style the form */
    #regForm {
      background-color: #ffffff;
      margin: 100px auto;
      padding: 40px;
      width: 70%;
      min-width: 300px;
    }

    /* Style the input fields */
    input {
      padding: 10px;
      width: 100%;
      font-size: 17px;
      font-family: Raleway;
      border: 1px solid #aaaaaa;
    }

    /* Mark input boxes that gets an error on validation: */
    input.invalid {
      background-color: #ffdddd;
    }

    /* Hide all steps by default: */
    .tab {
      display: none;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }

    /* Mark the active step: */
    .step.active {
      opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
      background-color: #04AA6D;
    }
    .carousel-control-next, .carousel-control-prev{
        width:5% !important;
    }
{% endblock %}

{% block content %}
<div class="content-container" style="background-color:#F3F5F2">
    <div class="row pt-3">
        <div class="col-12 text-center text-info">
            <h2 class="text-info pb-2">إكمال التعاقدات أو تعاقد جديد</h2>
        </div>
    </div>

    <div class="row mb-2 mt-2 {% if isClient %} d-none {% else %} {% endif %}">
        <div class="col-4">
            <button id="newContractShow" class="btn btn-primary w-100 mb-2">ادخال تعاقد جديد</button>
        </div>
    </div>
    <input id="isClient" value="{{isClient}}" type="hidden" class="d-none">
    <div class="row new-contract-holder" style="">
        <div class="col-10 text-center m-auto">
            <form id="regForm" class="mt-0" method="post" name="new Contract" required="required" action="#">
                <input id="servicesId" name="servicesId" type="hidden" class="d-none">

                <input name="userId" value="{{request.user.id}}"  type="hidden" class="d-none">

                <h1>{% if isClient %} اكمال تعاقد{% else %}ادخال تعاقد جديد {% endif %}</h1>
                <!-- One "tab" for each step in the form: -->
                {% csrf_token %}
                <div class="tab">بيانات العميل :
                   <p class=" mt-3 mb-1"><input class="form-control" value="{% if isClient %}{{clientRecord.serialNum}}{% endif %}" name="serial" placeholder="سريال العميل" onkeyup = 'checkSerial(this)'></p>
                   <p class="mt-1 border"><span class="" id="serialStatus"></span></p>
                   <p class=" mt-3"><input class="form-control" name="name" value="{% if isClient %}{{clientRecord.name}}{% endif %}" placeholder="اسم العميل"  oninput="this.className = ''"></p>
                   <p><input class="form-control" name="phone" value="{% if isClient %}{{clientRecord.phone}}{% endif %}" maxlength="11" placeholder="رقم الهاتف" oninput="this.className = ''"></p>
                   <p class="select_holder">
                        <select name="area" class="form-control">
                            {% if isClient %}
                            <option value="{{clientRecord.area.id}}">{{clientRecord.area.name}}</option>
                            <hr>
                            {% for area in areas %}
                            <option value="{{area.id}}">{{area.name}}</option>
                            {%endfor%}
                            {% else %}
                            {% for area in areas %}
                            <option value="{{area.id}}">{{area.name}}</option>
                            {%endfor%}
                            {% endif %}
                      </select>
                    </p>
                </div>

                <div class="tab">الخطوة 2 من 3 :
                    <input type="hidden" value={{today}} id="today" name="date">
                  <p><input required="required" type=""  pattern=".{7,}" value="{% if isClient %}{{clientRecord.addressDetails}}العنوان بالتفصيل{% endif %}" name="addressDetails" class="form-control" placeholder="العنوان بالتفصيل"></p>
                  <hr>
                  <label class="text-info border p-2">إختيارى</label>
                  <p><input name="apartment" value="{% if isClient %}{{clientRecord.addressBuilding}}{% else %}العمارة{% endif %}" class="form-control" placeholder="العمارة"></p>
                  <p><input name="float" value="{% if isClient %}{{clientRecord.addressBuilding}}{% else %}الشقة{% endif %}" class="form-control" placeholder="الشقة"></p>
                  <label>حساب التعاقد ل</label>
                  <p>
                      <select name="referer" class="form-control">
                          {% if isClient %}
                            {% if clientRecord.belongs_to == None %}
                                <option value=0></option>
                                {% for employee in employees %}
                                <option value="{{employee.id}}">{{employee.name}}</option>
                                {%endfor%}
                            {% else %}
                                <option value=0></option>
                            {% endif %}
                            <option value="{{clientRecord.belongs_to.id}}">{{clientRecord.belongs_to.name}}</option>
                          {% else %}
                            <option value=0></option>
                            {% for employee in employees %}
                            <option value="{{employee.id}}">{{employee.name}}</option>
                            {%endfor%}
                          {% endif %}
                      </select>
                  </p>
                </div>
                <div class="tab">الخدمات:
                  <p class="border p-2 text-danger">{%for serv in clientContract.services.all%}{{serv.name}} {% endfor %}</p>
                  <p>
                      <table class="w-100 table table-bordered">
                          <thead class="bg-dark text-white">
                              <tr>
                                  <th>اختيار</th>
                                  <th>الخدمة</th>
                                  <th>سعر الخدمة</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for service in services %}
                              <tr class="service" id="{{service.id}}">
                                  <input class="d-none" type="hidden" id="{{serviceId}}" name="service" value="{{service.id}}">
                                  <td>
                                      <input type="checkbox" {% if service.name in servicesList %} checked="True" {% else %} pass{% endif %} class="form-control checkbox" name="service-{{service.id}}">
                                  </td>
                                  <td>{{service.name}}</td>
                                  <td><input class="form-control text-center" value={{service.price}} name="servicePrice"></td>
                              </tr>
                              {%endfor%}
                          </tbody>
                      </table>
                    <p>
                </div>

                <div style="overflow:auto;">
                  <div style="float:right;">
                      <button type="button"class="btn btn-primary" id="nextBtn" onclick="nextPrev(1)">التالى</button>
                      <button type="button" class="btn btn-info" id="prevBtn" onclick="nextPrev(-1)">السابق</button>
                  </div>
                </div>

                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;">
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                </div>

                </form>
            --
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    setInterval(function(){
        // console.log("keep going >> ")
        var selected = [];
        $('input[type=checkbox]').each(function() {
           if ($(this).is(":checked")) {
               let serviceId = $(this).parents("tr").attr("id");
               selected.push(serviceId)
           }
           else{
                let serviceId = $(this).parents("tr").attr("id");
                //
                var index = selected.indexOf(serviceId);
                if (index !== -1) {
                  array.splice(index, 1);
                }
           }
           $("#servicesId").attr('value', selected)
        })

    },400)
    console.log("testing")
    function checkSerial(el){

        let serialVal = el.value
        //console.log(serialVal);
        $.ajax({
            url : `https://aswangreen2.pythonanywhere.com/DataEntry/checkClientSerial/`, // Replace with your ajax url
            type : 'GET',
            data : {
                'serial' : serialVal  // Replace with your data's
            },
            dataType:'json',
            success : function(data) {
                console.log('Data: '+data.responseText); // Success callback
                if(data.responseText=="found"){
                    $("#serialStatus").html(`<span class="bg-danger text-white d-block p-1">الرقم مسجل لعميل اخر</span>`)
                }else if (data.responseText=="not found"){
                $("#serialStatus").html(`<span class="bg-success text-white d-block p-1">الرقم متاح</span>`)
                }
            },
            error : function(request,error){
                //console.log("Request: "+JSON.stringify(request.responseText)); // Error callback
            }
        });

    }
    if($("#isClient").val()=="True"){
        $(".new-contract-holder").show()
    }else{
        $(".new-contract-holder").hide()
    }
    $("#newContractShow").click(function(){
        $(".continue-contrcats").hide()
        $(".new-contract-holder").show()
    })

    let num = $("#num").text();
    if (num > 0){
        width = num*40
    }else{
        width = 40
    }
    //console.log(width)
    $("#holder_scroll").width(width+'%')

    $(".clientHolder").each(function(){
        let el = $(this);
        let clientId = $(this).find("input#clientId").val();
        $.ajax({
            url : `https://aswangreen2.pythonanywhere.com/DataEntry/getServicesOfClient/`,
            type : 'GET',
            data : {
                'clientId' : clientId
            },
            dataType:'json',
            success : function(data) {
                // console.log('services2 => '+data.services2); // Success callback
                // console.log(`element => `, el)
                el.find("p.services").html(`<span class="">${data.services2}</span>`)
            },
            error : function(request,error){
                //console.log("Request: "+JSON.stringify(request.responseText)); // Error callback
            }
        });
    })

{% endblock %}